<a href="https://colab.research.google.com/github/Mark-Barbaric/Introduction_To_Machine_Learning/blob/master/Session1/Intro_To_Machine_Learning_W1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 1.1 Writing to Data Frames

This cell

$ \frac{1}{2} $

In [4]:
[] # create a data frame
df = pd.DataFrame({
    "col1" : ["Item1", "Item2"],
    "col2" : [1, 2] 
})
df

    col1  col2
0  Item1     1
1  Item2     2