<a href="https://colab.research.google.com/github/Mark-Barbaric/Introduction_To_Machine_Learning/blob/master/Session1/Intro_To_Machine_Learning_W1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 1.1 Writing to Data Frames

This cell

$ \frac{1}{2} $

In [4]:
[] # create a data frame
df = pd.DataFrame({
    "col1" : ["Item1", "Item2"],
    "col2" : [1, 2] 
})
df

    col1  col2
0  Item1     1
1  Item2     2

In [8]:
from google.colab import files
upload = files.upload()
# use countries of the world.csv

Saving countries of the world.csv to countries of the world.csv

# Loads CSV and Prints Out Data Set In Table Form

In [11]:
countries = pd.read_csv("countries of the world.csv", thousands = ",")
countries

             Country                               Region  ...  Industry  Service
0       Afghanistan         ASIA (EX. NEAR EAST)           ...      24.0     38.0
1           Albania   EASTERN EUROPE                       ...     188.0    579.0
2           Algeria   NORTHERN AFRICA                      ...       6.0    298.0
3    American Samoa   OCEANIA                              ...       NaN      NaN
4           Andorra   WESTERN EUROPE                       ...       NaN      NaN
..               ...                                  ...  ...       ...      ...
222       West Bank   NEAR EAST                            ...      28.0     63.0
223  Western Sahara   NORTHERN AFRICA                      ...       NaN      4.0
224           Yemen   NEAR EAST                            ...     472.0    393.0
225          Zambia   SUB-SAHARAN AFRICA                   ...      29.0    489.0
226        Zimbabwe   SUB-SAHARAN AFRICA                   ...     243.0    579.0

[227 rows x 20 columns]

# 1.2 Statistical Analysis of Data Set

In [12]:
countries.describe()

         Population  Area (sq. mi.)  ...    Industry     Service
count  2.270000e+02    2.270000e+02  ...  211.000000  212.000000
mean   2.874028e+07    5.982270e+05  ...  219.753555  408.929245
std    1.178913e+08    1.790282e+06  ...  172.054188  267.268560
min    7.026000e+03    2.000000e+00  ...    1.000000    4.000000
25%    4.376240e+05    4.647500e+03  ...   36.500000   73.750000
50%    4.786994e+06    8.660000e+04  ...  231.000000  475.500000
75%    1.749777e+07    4.418110e+05  ...  312.000000  619.750000
max    1.313974e+09    1.707520e+07  ...  906.000000  954.000000

[8 rows x 18 columns]

# 1.3 Selecting Data

In [13]:
# select column by name
countries["Country"]

# select several columns by name
countries[["Country", "GDP ($ per capita)"]]

# select by position
countries.iloc[1,1]

# select by position in ranges
countries.iloc[:, 2:4]

     Population  Area (sq. mi.)
0      31056997          647500
1       3581655           28748
2      32930091         2381740
3         57794             199
4         71201             468
..          ...             ...
222     2460492            5860
223      273008          266000
224    21456188          527970
225    11502010          752614
226    12236805          390580

[227 rows x 2 columns]

In [16]:
# select by condition
countries[countries["Population"] == 31056997]

# select by multiple conditions
countries[(countries["Population"]>1e8) & (countries["Area (sq. mi.)"]>1e3)]

            Country                               Region  ...  Industry  Service
16      Bangladesh         ASIA (EX. NEAR EAST)           ...     198.0    603.0
27          Brazil               LATIN AMER. & CARIB      ...       4.0    516.0
42           China         ASIA (EX. NEAR EAST)           ...     473.0    403.0
94           India         ASIA (EX. NEAR EAST)           ...     276.0    538.0
95       Indonesia         ASIA (EX. NEAR EAST)           ...     458.0    408.0
103          Japan         ASIA (EX. NEAR EAST)           ...     258.0    725.0
135         Mexico               LATIN AMER. & CARIB      ...     259.0    702.0
152        Nigeria   SUB-SAHARAN AFRICA                   ...     487.0    244.0
156       Pakistan         ASIA (EX. NEAR EAST)           ...     251.0    533.0
169         Russia                  C.W. OF IND. STATES   ...     371.0    575.0
214  United States   NORTHERN AMERICA                     ...     204.0    787.0

[11 rows x 20 columns]

In [20]:
# strip spaces from the strings in regions
countries["Region"] = countries["Region"].str.strip()

countries["Region"].unique()

array(['ASIA (EX. NEAR EAST)', 'EASTERN EUROPE', 'NORTHERN AFRICA',
       'OCEANIA', 'WESTERN EUROPE', 'SUB-SAHARAN AFRICA',
       'LATIN AMER. & CARIB', 'C.W. OF IND. STATES', 'NEAR EAST',
       'NORTHERN AMERICA', 'BALTICS'], dtype=object)

In [21]:
# check and display missing values

countries.isnull().values.any()

countries[countries.isnull().values.any(1)].count()

Country                               48
Region                                48
Population                            48
Area (sq. mi.)                        48
Pop. Density (per sq. mi.)            48
Coastline (coast/area ratio)          48
Net migration                         45
Infant mortality (per 1000 births)    45
GDP ($ per capita)                    47
Literacy (%)                          30
Phones (per 1000)                     44
Arable (%)                            46
Crops (%)                             46
Other (%)                             46
Climate                               26
Birthrate                             45
Deathrate                             44
Agriculture                           33
Industry                              32
Service                               33
dtype: int64